/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$secondary: #50742F;
$light: #f5f5f5;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

#dropdown-title {
  padding-right: 2.5rem;

  &::after {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0.75rem;
  }
}

#dropdown {
  max-height: 300px;
}

.select-element {
  &:hover,
  &:focus {
    background-color: $gray-200 !important;
    box-shadow: none;
  }
}

.webcomp-card {
  .webcomp-card-link {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);

    h4, svg {
      transition: color 0.25s ease-in-out;
      color: rgba(255, 255, 255, 0.75);
    }
  }

  &:hover {
    .webcomp-card-link {
      opacity: 1;

      &:hover {
        h4, svg {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
